@font-face {
    font-family: 'PoliceTitre';
    src: url('28_Days_Later.ttf');
}

#title{
	font-family : PoliceTitre;
	font-size: 500%;
	text-align:center;
}

#divTitle{
	/*background-color: RGB(100,200,270);*/
	background-image:url('TaskMenu.png');
	background-size: cover; 
	/*background: url(image/TaskMenu.png) no-repeat center fixed;*/
	
}

#divMenu{
	width: 200px;
	height: 720px;
	float: right;
	background-color: RGB(271,221,166);
	border: 2px solid RGB(68,68,68);
	border-radius: 8px;
}

#menuList{
	list-style-type: disc;
	font-size: 120%;
}

#divGame{
	width: 1200px;
	height: 720px;
	border: 3px solid RGB(68,114,196);
	margin-left: 15%;
}